*.swp
*.so
speedy.f90/*.o
speedy.f90/*.mod
speedy.f90/model_state.f90
speedy.f90/speedy_driver.f90
*.pyc

.tox
.idea
.vscode
build
.pytest_cache
.ipynb_checkpoints
MANIFEST
*.egg-info

examples/data
/docs/source/generated
/docs/source/examples/data/
/docs/source/model_state_def.html
/pyspeedy/data/model_state.csv
/pyspeedy/data/model_state.xlsx
/pyspeedy/data/model_state.json
